In [ ]:
#!pip install PyMuPDF==1.18.16

In [1]:
import numpy as np
import pandas as pd
import sys
import os
import fitz
from unidecode import unidecode 
import re
import datetime
from spacy import displacy
import spacy

In [2]:
cv_folder = '../data/cv/'

In [3]:
fname = 'José Luis Gutiérrez Mendoza.docx.pdf'

for fname in os.listdir(cv_folder):
    fname = 'José Luis Gutiérrez Mendoza.docx.pdf'
    fpath = os.path.join(cv_folder, fname)
    with fitz.open(fpath) as doc:
        text =""
        for page in doc:
            text = text + str(page.get_text("text"))

        print(text)
    print('#'*50)
    break

In [4]:
spacy.__version__

'3.5.0'

In [5]:
nlp = spacy.load("en_core_web_md",disable=["ner"])
skill_pattern_path = "../data/jz_skill_patterns.jsonl"

In [6]:
ruler = nlp.add_pipe("entity_ruler", before='ner')

In [7]:
ruler.from_disk(skill_pattern_path)

import spacy
from spacy import displacy
from spacy.matcher import Matcher

nlp = spacy.load("en_core_web_md")
matcher = Matcher(nlp.vocab)
matched_sents = []  # Collect data of matched sentences to be visualized

def collect_sents(matcher, doc, i, matches):
    match_id, start, end = matches[i]
    span = doc[start:end]  # Matched span
    sent = span.sent  # Sentence containing matched span
    # Append mock entity for match in displaCy style to matched_sents
    # get the match span by ofsetting the start and end of the span with the
    # start and end of the sentence in the doc
    match_ents = [{
        "start": span.start_char - sent.start_char,
        "end": span.end_char - sent.start_char,
        "label": "MATCH",
    }]
    matched_sents.append({"text": sent.text, "ents": match_ents})

pattern = [{"LOWER": "facebook"}, {"LEMMA": "be"}, {"POS": "ADV", "OP": "*"},
           {"POS": "ADJ"}]
matcher.add("FacebookIs", [pattern], on_match=collect_sents)  # add pattern
doc = nlp("I'd say that Facebook is evil. – Facebook is pretty cool, right?")
matches = matcher(doc)

# Serve visualization of sentences containing match with displaCy
# set manual=True to make displaCy render straight from a dictionary
# (if you're not running the code within a Jupyer environment, you can
# use displacy.serve instead)
displacy.render(matched_sents, style="ent", manual=True)

In [10]:
patterns = [
    {
        "label":'EMAIL',"pattern":[{"TEXT":{"REGEX":"([^@|\s]+@[^@]+\.[^@|\s]+)"}}]}]

re.findall(r'(\b\d{1,2}\D{0,3})?\b(?:Jan(?:uary)?|Feb(?:ruary)?|Mar(?:ch)?|Apr(?:il)?|May|Jun(?:e)?|Jul(?:y)?|Aug(?:ust)?|Sep(?:tember)?|Oct(?:ober)?|(Nov|Dec)(?:ember)?)\D?(\d{1,2}(st|nd|rd|th)?)?(([,.\-\/])\D?)?(\s)?,?(\s)?((19[7-9]\d|20\d{2})|\d{2})',
           '( October , 2019 - March , 2021 )', )

re.findall(r'(\b\d{1,2}\D{0,3})?\b(?:Jan(?:uary)?|Feb(?:ruary)?|Mar(?:ch)?|Apr(?:il)?|May|Jun(?:e)?|Jul(?:y)?|Aug(?:ust)?|Sep(?:tember)?|Oct(?:ober)?|(Nov|Dec)(?:ember)?)\D?(\d{1,2}(st|nd|rd|th)?)?(([,.\-\/])\D?)?,?(\s)?((19[7-9]\d|20\d{2})|\d{2})',
           '( 10/2013 _ Jan 2023) and Jan, 2024', )

re.findall(r'(\d{1,2}\s\d{4})',
           '( 10 2013 _ jan 2023) and jan, 2024', )

In [11]:
ruler.add_patterns(patterns)

In [12]:
nlp.pipeline

[('tok2vec', <spacy.pipeline.tok2vec.Tok2Vec at 0x126eb99a0>),
 ('tagger', <spacy.pipeline.tagger.Tagger at 0x1270aa040>),
 ('parser', <spacy.pipeline.dep_parser.DependencyParser at 0x126dc3580>),
 ('attribute_ruler',
  <spacy.pipeline.attributeruler.AttributeRuler at 0x1270b3280>),
 ('lemmatizer', <spacy.lang.en.lemmatizer.EnglishLemmatizer at 0x1270f5140>),
 ('entity_ruler', <spacy.pipeline.entityruler.EntityRuler at 0x126dc7080>)]

In [13]:
from nltk.corpus import stopwords
stops = stopwords.words("english")

In [ ]:
text ="""
VISA, Colombia — Urban Mobility Specialist ruizc.anthony@gmail.com (01 Jan,2021 -Present)
During this time, I have contributed to the increased penetration of contactless cards in the country, which went from
50% to 53% and 31.1K of new transactions that to date have been carried out in the MIO-Cali transportation system.
Thanks to the implementation of marketing strategies that are products of insights obtained from Dashboards. 15.02.2022
Tech-Stack: Excel, Tableau, PowerBi and Power Point.
Agencia Nacional Digital, Colombia — Business Intelligence Expert (June, 2021 - November, 2021 )
Developed the Business Intelligence module of the country's Occupational Risk management software. Software that
seeks to reduce by 30% the management times of processes related to occupational risks of Colombians.
Tech-Stack: Kimball,  Python, SQLServer, SSIS, SSRS, GIT, Azure and Power BI.
Ministerio de Justicia y el Derecho, Colombia — Analytics Leader — Colombia (October,2019 - March,2021 )
Implemented data components required for the data platform of the Colombian Drug Observatory. Components such
as Pipelines, ETL's, SP's, Reports, Dashboards and statistical algorithms. Achieving get 100% control of the information
related to topics such as the consumption, spraying, eradication, seizure and appearance of illicit drugs.
Designed and implemented a systematized data exchange scheme between diﬀerent entities of the justice sector, this
allowed reducing the time of receipt of relevant information from 30 days to 1 day after the end of each month.
Tech-Stack: Kimball, Python, Tableau, SQL Server, SSIS, SSRS, GIT, Azure, and Power BI.
Transportes Sanchez Polo, Colombia — Chief Technology Oﬃcer (February, 2011 - September, 2019 )
Implemented the Oracle Business Intelligence platform. This project made it possible to unify the information of the 3
companies of the business group and consult it in Dashboards and Reports. Achieved a 17% reduction in operating
costs and a 19% increase in the productivity of the automotive ﬂeet. 11-11-2019
Designed and implemented a systematized data exchange scheme between diﬀerent GPS system providers. With this
tool, the company obtained improvements in the planning, operation, customer service and security processes by
integrating 80% of the associated vehicles to the vehicle ﬂeet.
Tech-Stack: Python, Java, Oracle, Oracle Cloud, PostgreSQL and PHP. 

"""
text = re.sub(r'[ -][Pp]resent',datetime.date.today().strftime(format = '%Y %m'), text)
text = re.sub(r'[,-]'," ", text)
text = re.sub(r' +'," ", text)
#text = re.sub(r'[A-Za-z]{0},[A-Za-z]{0}'," ", text)
#text = re.sub(r'-[A-Za-z]{0}',"- ", text)

NameError: name 're' is not defined

In [144]:
print(text)

VISA Colombia — Urban Mobility Specialist ruizc.anthony@gmail.com (01 Jan 2021 2023 03)
During this time I have contributed to the increased penetration of contactless cards in the country which went from
50% to 53% and 31.1K of new transactions that to date have been carried out in the MIO Cali transportation system.
Thanks to the implementation of marketing strategies that are products of insights obtained from Dashboards. 15.02.2022
Tech Stack: Excel Tableau PowerBi and Power Point.
Agencia Nacional Digital Colombia — Business Intelligence Expert (June 2021 November 2021 )
Developed the Business Intelligence module of the country's Occupational Risk management software. Software that
seeks to reduce by 30% the management times of processes related to occupational risks of Colombians.
Tech Stack: Kimball Python SQLServer SSIS SSRS GIT Azure and Power BI.
Ministerio de Justicia y el Derecho Colombia — Analytics Leader — Colombia (October 2019 March 2021 )
Implemented data components required for the data platform of the Colombian Drug Observatory. Components such
as Pipelines ETL's SP's Reports Dashboards and statistical algorithms. Achieving get 100% control of the information
related to topics such as the consumption spraying eradication seizure and appearance of illicit drugs.
Designed and implemented a systematized data exchange scheme between diﬀerent entities of the justice sector this
allowed reducing the time of receipt of relevant information from 30 days to 1 day after the end of each month.
Tech Stack: Kimball Python Tableau SQL Server SSIS SSRS GIT Azure and Power BI.
Transportes Sanchez Polo Colombia — Chief Technology Oﬃcer (February 2011 September 2019 )
Implemented the Oracle Business Intelligence platform. This project made it possible to unify the information of the 3
companies of the business group and consult it in Dashboards and Reports. Achieved a 17% reduction in operating
costs and a 19% increase in the productivity of the automotive ﬂeet. 11 11 2019
Designed and implemented a systematized data exchange scheme between diﬀerent GPS system providers. With this
tool the company obtained improvements in the planning operation customer service and security processes by
integrating 80% of the associated vehicles to the vehicle ﬂeet.
Tech Stack: Python Java Oracle Oracle Cloud PostgreSQL and PHP.

In [145]:
doc = nlp(text)

In [146]:
lemmatized = list()
for word in doc:
    lemma = word.lemma_.strip()
    if lemma:
        if lemma not in stops:
            lemmatized.append(lemma)
text2 = " ".join(lemmatized)
"""
text2 = re.sub(
        '(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)|^rt|http.+?"',
        " ",text2)

"""
doc2 = nlp(text2)

In [147]:
doc2

VISA Colombia — Urban Mobility Specialist ruizc.anthony@gmail.com ( 01 Jan 2021 2023 03 ) time I contribute increase penetration contactless card country go 50 % 53 % 31.1 k new transaction date carry MIO Cali transportation system . thank implementation marketing strategy product insight obtain Dashboards . 15.02.2022 Tech Stack : Excel Tableau PowerBi Power Point . Agencia Nacional Digital Colombia — Business Intelligence Expert ( June 2021 November 2021 ) develop Business Intelligence module country 's Occupational Risk management software . software seek reduce 30 % management time process relate occupational risk Colombians . Tech Stack : Kimball Python SQLServer SSIS SSRS GIT Azure Power BI . Ministerio de Justicia el Derecho Colombia — Analytics leader — Colombia ( October 2019 March 2021 ) implement data component require data platform colombian Drug Observatory . component Pipelines ETL 's SP 's Reports Dashboards statistical algorithm . achieve get 100 % control information relate topic consumption spray eradication seizure appearance illicit drug . design implement systematize data exchange scheme diﬀerent entity justice sector allow reduce time receipt relevant information 30 day 1 day end month . Tech Stack : Kimball Python Tableau SQL Server SSIS SSRS GIT Azure Power BI . Transportes Sanchez Polo Colombia — Chief Technology Oﬃcer ( February 2011 September 2019 ) implement Oracle Business Intelligence platform . project make possible unify information 3 company business group consult Dashboards Reports . achieve 17 % reduction operating cost 19 % increase productivity automotive ﬂeet . 11 11 2019 design implement systematize data exchange scheme diﬀerent GPS system provider . tool company obtain improvement planning operation customer service security process integrate 80 % associate vehicle vehicle ﬂeet . Tech Stack : Python Java Oracle Oracle Cloud postgresql PHP .

In [148]:
"VISA Colombia — Urban Mobility Specialist ruizc.anthony@gmail.com ( 01 Jan 2021 2023 03 ) time I contribute increase penetration contactless card country go 50 % 53 % 31.1 k new transaction date carry MIO Cali transportation system . thank implementation marketing strategy product insight obtain Dashboards . 15.02.2022 Tech Stack : Excel Tableau PowerBi Power Point . Agencia Nacional Digital Colombia — Business Intelligence Expert ( June 2021 November 2021 ) develop Business Intelligence module country 's Occupational Risk management software . software seek reduce 30 % management time process relate occupational risk Colombians . Tech Stack : Kimball Python SQLServer SSIS SSRS GIT Azure Power BI . Ministerio de Justicia el Derecho Colombia — Analytics leader — Colombia ( October 2019 March 2021 ) implement data component require data platform colombian Drug Observatory . component Pipelines ETL 's SP 's Reports Dashboards statistical algorithm . achieve get 100 % control information relate topic consumption spray eradication seizure appearance illicit drug . design implement systematize data exchange scheme diﬀerent entity justice sector allow reduce time receipt relevant information 30 day 1 day end month . Tech Stack : Kimball Python Tableau SQL Server SSIS SSRS GIT Azure Power BI . Transportes Sanchez Polo Colombia — Chief Technology Oﬃcer ( February 2011 September 2019 ) implement Oracle Business Intelligence platform . project make possible unify information 3 company business group consult Dashboards Reports . achieve 17 % reduction operating cost 19 % increase productivity automotive ﬂeet . 11 11 2019 design implement systematize data exchange scheme diﬀerent GPS system provider . tool company obtain improvement planning operation customer service security process integrate 80 % associate vehicle vehicle ﬂeet . Tech Stack : Python Java Oracle Oracle Cloud postgresql PHP . test 11/10/2000 . test 5 11 11 2023 . test6 11 202 . test 7 2018 12 . test 9 2018/10 . test 10 2010/11/17"[71:79]

'Jan 2021'

In [157]:
exps = [
    r'\b(?:Jan(?:uary)?|Feb(?:ruary)?|Mar(?:ch)?|Apr(?:il)?|May|Jun(?:e)?|Jul(?:y)?|Aug(?:ust)?|Sep(?:tember)?|Oct(?:ober)?|(Nov|Dec)(?:ember)?)\D?(\d{1,2}(st|nd|rd|th)?)?(([,.-/])\D?)?,?(\s)?((19[7-9]\d|20\d{2})|\d{2})',
    r'\b(\d{2} )?(\d{2} )(20\d{2})\b!\d',
    r'\b(\d{2}\/)?(\d{2}\/)(20\d{2})\b',
    r'\b(\d{2}\.)?(\d{2}\.)(20\d{2})\b',
    r'\b(\d{2})?(\d{2})(20\d{2})\b',
    
    r'\b(20\d{2} )(\d{2})( \d{2})?\b',
    r'\b(20\d{2}\/)(\d{2})(\/\d{2})?\b',
    r'\b(20\d{2}\.)(\d{2})(\.\d{2})\b'
]
work_hist = []
bag_dates = []
dates_dict = {'span_start':[], 'span_end': [], 'span_text':[], 'date_formated':[]}
for reg in exps:
    for match in re.finditer(reg, doc2.text):
        #print(reg)
        span=None
        start, end = match.span()
        span = doc2.char_span(start, end)
        bag_dates.append([span,start,end,pd.to_datetime(span.text)])

        # This is a Span object or None if match doesn't map to valid token sequence
        if span is not None:
            print("Found match:", span.text)
            dates_dict['span_start'].append(start)
            dates_dict['span_end'].append(end)
            dates_dict['span_text'].append(span.text)
            dates_dict['date_formated'].append(pd.to_datetime(span.text))
            
            #dates_df = pd.concat([dates_df,pd.DataFrame(data_to_append)]
            
            #print(sent, pd.to_datetime(span.text))


if len(bag_dates)==2:
    print('Found work hist in :', sent.text)
    work_hist.append(bag_dates)
print('*'*50)
dates_df = pd.DataFrame(dates_dict).sort_values(by ='span_start', ascending=True)
dates_df['close_to_previous'] = ((dates_df['span_start'] - dates_df['span_end'].shift(1))<6)*1
dates_df['work_hist_date'] = ((dates_df['close_to_previous']==1) |(dates_df['close_to_previous'].shift(-1)==1) )*1
dates_df = dates_df[dates_df['work_hist_date']==1]
dates_df['pair'] = 1
dates_df['pair']  = np.ceil(dates_df['pair'].cumsum()/2)
dates_df = dates_df.pivot(index = 'pair', columns = 'close_to_previous', values = ['date_formated','span_start','span_end'])
dates_df['duration'] = (dates_df['date_formated'][1] - dates_df['date_formated'][0]).dt.total_seconds()/3600/24//30

Found match: Jan 2021
Found match: June 2021
Found match: November 2021
Found match: October 2019
Found match: March 2021
Found match: February 2011
Found match: September 2019
Found match: 15.02.2022
Found match: 2023 03
**************************************************

/var/folders/v2/qknnv4n91jg_n5dynkby31nh0000gp/T/ipykernel_12004/128662498.py:21: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  bag_dates.append([span,start,end,pd.to_datetime(span.text)])

/var/folders/v2/qknnv4n91jg_n5dynkby31nh0000gp/T/ipykernel_12004/128662498.py:29: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  dates_dict['date_formated'].append(pd.to_datetime(span.text))

In [158]:
dates_df

                  date_formated            span_start       span_end        \
close_to_previous             0          1          0     1        0     1
pair
1.0                  2021-01-01 2023-03-01         71    80       79    87
2.0                  2021-06-01 2021-11-01        437   447      446   460
3.0                  2019-10-01 2021-03-01        783   796      795   806
4.0                  2011-02-01 2019-09-01       1368  1382     1381  1396

                  duration
close_to_previous
pair
1.0                   26.0
2.0                    5.0
3.0                   17.0
4.0                  104.0

In [159]:
labels  = pd.DataFrame(columns = ['label','span_start','span_end','text'])
for e in doc2.ents:
    row = {}
    row['label'] = [e.label_]
    row['span_start'] = [e.start_char]
    row['span_end'] = [e.end_char]
    row['text'] = [e.text]
    labels = pd.concat([labels,pd.DataFrame(row)] , ignore_index=False)
labels

   label span_start span_end                     text
0  EMAIL         42       65  ruizc.anthony@gmail.com
0  SKILL        255      264                marketing
0  SKILL        340      347                  Tableau
0  SKILL        406      427    Business Intelligence
0  SKILL        471      492    Business Intelligence
0  SKILL        540      548                 software
0  SKILL        551      559                 software
0  SKILL        660      666                   Python
0  SKILL        687      690                      GIT
0  SKILL        691      696                    Azure
0  SKILL        753      762                Analytics
0  SKILL        824      833                component
0  SKILL        885      894                component
0  SKILL        949      958                algorithm
0  SKILL       1076     1082                   design
0  SKILL       1105     1118            data exchange
0  SKILL       1250     1256                   Python
0  SKILL       1257     1264                  Tableau
0  SKILL       1265     1268                      SQL
0  SKILL       1269     1275                   Server
0  SKILL       1286     1289                      GIT
0  SKILL       1290     1295                    Azure
0  SKILL       1409     1415                   Oracle
0  SKILL       1416     1437    Business Intelligence
0  SKILL       1499     1507                 business
0  SKILL       1637     1643                   design
0  SKILL       1666     1679            data exchange
0  SKILL       1786     1794                 security
0  SKILL       1864     1870                   Python
0  SKILL       1871     1875                     Java
0  SKILL       1876     1882                   Oracle
0  SKILL       1883     1889                   Oracle
0  SKILL       1896     1906               postgresql
0  SKILL       1907     1910                      PHP

In [160]:
dates_df.columns = ['_'.join([str(x),str(y)]) for x,y in dates_df.columns]

In [161]:
dates_df.columns

Index(['date_formated_0', 'date_formated_1', 'span_start_0', 'span_start_1',
       'span_end_0', 'span_end_1', 'duration_'],
      dtype='object')

In [163]:
df_date_to_concat = dates_df[['span_start_0','span_end_1','date_formated_0','date_formated_1','duration_']].rename(columns = {'span_start_0':'span_start', 'span_start_1':'span_end'})
df_date_to_concat['label']='DATE'
df_concat = pd.concat([df_date_to_concat,labels], axis=0, ignore_index=False).sort_values(by = 'span_start')
df_concat['date_formated_0'] = df_concat['date_formated_0'].ffill()
df_concat['date_formated_1'] = df_concat['date_formated_1'].ffill()
df_concat['duration_'] = df_concat['duration_'].ffill()
df_concat.drop_duplicates(['date_formated_0','text'], inplace=True)
df_concat[df_concat['label']=='SKILL'].groupby('text').agg({'duration_':'sum','date_formated_0':'min','date_formated_1':'max' })

                       duration_ date_formated_0 date_formated_1
text
Analytics                    5.0      2021-06-01      2021-11-01
Azure                       22.0      2019-10-01      2021-11-01
Business Intelligence      135.0      2011-02-01      2023-03-01
GIT                         22.0      2019-10-01      2021-11-01
Java                       104.0      2011-02-01      2019-09-01
Oracle                     104.0      2011-02-01      2019-09-01
PHP                        104.0      2011-02-01      2019-09-01
Python                     126.0      2011-02-01      2021-11-01
SQL                         17.0      2019-10-01      2021-03-01
Server                      17.0      2019-10-01      2021-03-01
Tableau                     43.0      2019-10-01      2023-03-01
algorithm                   17.0      2019-10-01      2021-03-01
business                   104.0      2011-02-01      2019-09-01
component                   17.0      2019-10-01      2021-03-01
data exchange              121.0      2011-02-01      2021-03-01
design                     121.0      2011-02-01      2021-03-01
marketing                   26.0      2021-01-01      2023-03-01
postgresql                 104.0      2011-02-01      2019-09-01
security                   104.0      2011-02-01      2019-09-01
software                     5.0      2021-06-01      2021-11-01

In [156]:
displacy.render(doc2, style="ent", jupyter=True)

In [ ]:
doc.ents[0].label_

In [134]:
[(e.text,e.start_char, e.end_char) for e in doc.ents if e.label_ in('SKILL','DATE') ]

[('marketing', 353, 362),
 ('Tableau', 459, 466),
 ('Business Intelligence', 528, 549),
 ('Business Intelligence', 598, 619),
 ('software', 673, 681),
 ('Software', 683, 691),
 ('Python', 819, 825),
 ('GIT', 846, 849),
 ('Azure', 850, 855),
 ('Analytics', 917, 926),
 ('algorithms', 1141, 1151),
 ('data exchange', 1343, 1356),
 ('Python', 1549, 1555),
 ('Tableau', 1556, 1563),
 ('SQL', 1564, 1567),
 ('Server', 1568, 1574),
 ('GIT', 1585, 1588),
 ('Azure', 1589, 1594),
 ('Oracle', 1716, 1722),
 ('Business Intelligence', 1723, 1744),
 ('business', 1836, 1844),
 ('data exchange', 2051, 2064),
 ('security', 2207, 2215),
 ('Python', 2305, 2311),
 ('Java', 2312, 2316),
 ('Oracle', 2317, 2323),
 ('Oracle', 2324, 2330),
 ('PostgreSQL', 2337, 2347),
 ('PHP', 2352, 2355)]