In [82]:
import pandas as pd

In [141]:
df_0 = pd.read_excel("Pre Screening - Data Engineer.xlsx")

df = df_0.iloc[0:6,1:3]
df_1 = df_0.iloc[2:5, 3:5]
df_2 = df_0.iloc[9:19, 1:3]
df_3 = df_0.iloc[9:18, 3:5]
df_4 = df_0.iloc[22:25, 1:3]

In [142]:
def transpose_df(dataframe):
  
  dataframe.dropna(inplace = True)
  dataframe = dataframe.transpose()
  dataframe = dataframe.reset_index(drop = True)

  return dataframe

In [143]:
def headers(dataframe): 
  
  new_headers = dataframe.iloc[0]
  dataframe = dataframe[1:]
  dataframe.columns = new_headers 

  return dataframe

In [144]:
df = transpose_df(df)
df_1 = transpose_df(df_1)
df_2 = transpose_df(df_2)
df_3 = transpose_df(df_3)
df_4 = transpose_df(df_4)

df = headers(df)
df_1 = headers(df_1)
df_2 = headers(df_2)
df_3 = headers(df_3)
df_4 = headers(df_4)

In [149]:
df = df.join(df_4, how = 'left', lsuffix='left', rsuffix='right')

In [150]:
df

,Name,Total Years of Experience,Data Related Years of Experience,Current / Last Position,Time on Current / Last position,English Level,Location,Availability to join Avantica,Special conditions for hiring,RE,...,"MongoDB, Cassandra, DynamoDB, CosmosDB, etc","SQL Server Integration Services, Spoon, Open source tools, etc","SQL Server Analysis Services, Pentaho","Tableau, Power BI, Google Data Studio, Graphana, Kibana, Metabase, Looker, etc","AWS, GCP, Azure and Alibaba Cloud. All data services a other services.","Concepts and implementations, put models in production","Python, Scala, Java, Rust, Go, PHP, Javascript, R",Describe your current role and responsibilitiesright,How does your role integrate with other areas / teams?,What has been your biggest accomplishment as Data Engineer?
1,Pavel Gonzalez,2 years,2 years,Data Analyst (current),6 month (current),B2,"Dominican Republic, Santo Domingo","Yes, he is available","Kind Team, Formation Professional Schedule and...",1 year and 6 months,...,Maintenance,Maintenance,Scratch,Maintenance,Scratch,Maintenance,Scratch,R: Perfomances ETL process low day in the dayw...,Gathering with all the operational data with d...,"Learn is the biggest accomplishment for me, ev..."